@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "MotoGP";
  src: url("./assets/fonts/MGPDisplay-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "MotoGP";
  src: url("./assets/fonts/MGPDisplay-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "MotoGP";
  src: url("./assets/fonts/MGPDisplay-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "MotoGPInline";
  src: url("./assets/fonts/MGPInline-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "MotoGPInline";
  src: url("./assets/fonts/MGPInline-Bold.otf") format("opentype");
  font-weight: 700;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #f4f4f4;
  font-family: "MotoGPDisplay", sans-serif;
  font-weight: 500;
}

* {
  font-family: "MotoGPDisplay", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "MotoGP", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "MotoGPInline", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "MotoGP", sans-serif;
  font-weight: 700;
}

::selection {
  background-color: #ff0000;
  color: white;
}